/*
 * FontAwesome icons for custom graphics. Set in PseucoAlert class.
 *
 * information - f129 (info) / f05a (info-circle)
 * warning - f12a (exclamation) / f06a (exclamation-circle) / f071 (exclamation-triangle)
 * error - f00d (times) / f057 (times-circle) / f05c (times-circle-o)
 */

/* Content area */
.dialog-pane > .content {
    -fx-background-color: transparent;
}

/* Header area */
/*
.dialog-pane .header-panel {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #bbbbbb;
}
*/

/* Button style */
.dialog-pane .button {
    -fx-font-family: 'Fira Sans';

    -fx-border-radius: 2px;
    -fx-border-color: -blue-dark;
}

/* Custom graphics */
.custom-confirmation-graphic,
.custom-error-graphic,
.custom-information-graphic,
.custom-warning-graphic {
    -fx-font-family: 'FontAwesome';
    -fx-font-size: 36pt;
}

.custom-confirmation-graphic {
    -fx-text-fill: royalblue;
}

.custom-error-graphic {
    -fx-text-fill: #d7423c;
}

.custom-information-graphic {
    -fx-text-fill: royalblue;
}

.custom-warning-graphic {
    -fx-text-fill: gold;
}
