#urlField {
    -fx-font-family: 'Fira Code', monospace;
    -fx-editable: false;

    -fx-text-fill: #181818;

    -fx-highlight-fill: #b2d7ff;
    -fx-highlight-text-fill: #181818;
}

#urlField:focused {
    -fx-focus-color: -blue-dark;
}
