.label {
    -fx-font-family: "Fira Code", monospace;
    -fx-font-size: /* 11pt */ 92%;
    -fx-text-fill: #8e8e8e;

    -fx-border-color: peru;
    -fx-border-width: 1pt;
    -fx-border-radius: 2px;

    -fx-padding: 2px 5px 2px 5px;
}

.none {
    -fx-font-family: "Fira Sans", sans-serif;
    -fx-border-color: transparent;
}

.int {
    -fx-text-fill: cornflowerblue;
}

.bool {
    -fx-text-fill: indigo;
    /*
    -fx-font-weight: bold;
    */
}

.string {
    -fx-text-fill: forestgreen;
}
