.root {
    -fx-background-color: -background;
}

.label {
    -fx-font-family: 'Fira Sans', sans-serif;
    -fx-text-fill: #8e8e8e;
    -fx-font-size: /* 10px */ 84%;
}

#channelPane {
    -fx-border-color: #dadada;
    -fx-border-width: 3px 0px 3px 3px;
    -fx-border-radius: 4px 0 0 4px;
}
