#controlBar {
    -fx-background-color: -background;
}

#controlBar .button {
    -fx-font-size: /* 14pt */ 117%;
}

#runButton:hover {
    -fx-background-color: -green-light;
    -fx-border-color: -green-dark;
}

#runButton:pressed {
    -fx-background-color: -green-dark;
}

#suspendButton:hover {
    -fx-background-color: -orange-light;
    -fx-border-color: -orange-dark;
}

#suspendButton:pressed {
    -fx-background-color: -orange-dark;
}

#terminateButton:hover {
    -fx-background-color: -red-light;
    -fx-border-color: -red-dark;
}

#terminateButton:pressed {
    -fx-background-color: -red-dark;
}

#threadPanes {
    -fx-spacing: 5;
}

#footer {
    -fx-background-color: -background;
}
