/*
 *  General CSS settings applicable over the entire IDE.
 *  Custom settings need to be placed in additional stylesheets.
 */

/* Load fonts */

@font-face {
    font-family: "Fira Sans";
    src: url("../fonts/FiraSans-Regular.otf");
}

@font-face {
    font-family: "Fira Code";
    src: url("../fonts/FiraCode-Regular.otf");
}

@font-face {
    font-family: "Fira Code";
    font-weight: bold;
    src: url("../fonts/FiraCode-Bold.otf");
}

@font-face {
    font-family: "FontAwesome";
    src: url("../fonts/FontAwesome.otf");
}

/* Define colors */

* {
    -background: #f0f0f0;
    -separator: #dadada;
    -tooltip: #bbbbbb;

    -blue-light: #d0d9e9;
    -blue-dark: #4d86f1;
    -red-light: #ebd4d4;
    -red-dark: #d9423c;
    -green-light: #dae8da;
    -green-dark: #5fb760;
    -orange-light: #f2e8db;
    -orange-dark: #dd9a43;

    -console: #3c3f41;
    -console-text: #bbbbbb;

    -scrollbar-thumb: #bbbbbbaa;
    -scrollbar-thumb-hover: #bbbbbb;
    -scrollbar-thumb-pressed: #949494;
}

/* Set some global settings (font, ...) */

.root {
    -fx-font-family: 'Fira Sans', sans-serif;
    -fx-background-color: -background;
}

/* Set custom button style */

.button {
    -fx-text-fill: #181818;
    -fx-background-color: transparent;

    -fx-border-width: 1px;
    -fx-border-radius: 1px;
    -fx-border-color: transparent;

    -fx-font-family: 'FontAwesome';
}

.button:hover {
    -fx-background-color: -blue-light;

    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-border-color: -blue-dark;
}

.button:pressed {
    -fx-background-color: -blue-dark;
    -fx-text-fill: #ffffff;
}

/* Set custom tooltip style */

.tooltip {
    -fx-font-family: 'Fira Sans';
    -fx-background-color: -console;
    -fx-text-fill: -console-text;

    -fx-font-size: /* 8pt */ 67%;
}

/* Set custom scrollbar style */

.scroll-bar {
    -fx-background-color: -background;
}

.corner {
    -fx-background-color: -background;
    -fx-padding: 0;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: "";
    -fx-padding: 0;
}

.scroll-bar .track {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: -scrollbar-thumb;
}

.scroll-bar .thumb:hover {
    -fx-background-color: -scrollbar-thumb-hover;
}

.scroll-bar .thumb:pressed {
    -fx-background-color: -scrollbar-thumb-pressed;
}
