#urlLabel {
    -fx-font-family: 'Fira Code', monospace;
}

#idInput {
    -fx-font-family: 'Fira Code', monospace;
    -fx-pref-columns: 20;
}

#idInput:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#inputFlowPane {
    -fx-background-color: lightgray;
    -fx-background-radius: 3px;
}

#hintLabel {
    -fx-font-size: 10;
    -fx-text-fill: darkgray;
}

.button {
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
}

#importButton {
    -fx-border-color: -green-light;
}

#importButton:hover {
    -fx-background-color: -green-light;
    -fx-border-color: -green-dark;
}

#importButton:focused {
    -fx-border-color: -green-dark;
}

#importButton:pressed {
    -fx-background-color: -green-dark;
}

#cancelButton {
    -fx-border-color: -blue-light;
}

#cancelButton:hover {
    -fx-border-color: -blue-dark;
}

#cancelButton:focused {
    -fx-border-color: -blue-dark;
}
