.root {
    -fx-use-system-menu-bar: true;
}

.split-pane {
    -fx-background-color: transparent;
}

.split-pane .split-pane-divider {
    -fx-background-color: -background;

    -fx-padding: 0 1pt 0 1pt;
}

/* Toolbar */

#controlBar {
    -fx-background-color: -background;
}

#controlBar .separator .line {
    -fx-border-color: -separator;
    -fx-border-width: 0 1 0 0;
    -fx-border-style: dotted;
}

/* Buttons */

.button {
    -fx-font-size: /* 16pt */ 134%;
}

#runButton:hover, #debugButton:hover {
    -fx-background-color: -green-light;
    -fx-border-color: -green-dark;
}

#runButton:pressed, #debugButton:pressed {
    -fx-background-color: -green-dark;
}

#stopButton:hover {
    -fx-background-color: -red-light;
    -fx-border-color: -red-dark;
}

#stopButton:pressed {
    -fx-background-color: -red-dark;
}

#openInPseuCoComButton {
    -fx-font-family: 'Fira Sans';
    -fx-graphic-text-gap: /* 7pt */ 5pt;
    -fx-font-size: /* 10pt */ 84%;
}

#openInPseuCoComButton .label {
    -fx-font-family: 'FontAwesome';
    -fx-font-size: /* 16pt */ 134%;
}

#openInPseuCoComButton:pressed .label {
    -fx-text-fill: #ffffff;
}

#consoleClearButton {
    -fx-border-width: 0;
    -fx-font-size: 100%;
    -fx-text-fill: -console-text;
}

#consoleClearButton:hover {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#consoleClearButton:pressed {
    -fx-background-color: transparent;
    -fx-text-fill: -red-dark;
}

/* File Tree */

#fileTree {
    -fx-background-color: -background;
    -fx-graphic-text-gap: /* 7pt */ 59%;
}

#fileTree .scroll-bar {
    -fx-opacity: 0;
}

#fileTree .tree-cell {
    -fx-background-color: inherit;
    -fx-border-color: transparent;
    -fx-border-width: 1pt;
}

#fileTree .label {
    -fx-font-family: "FontAwesome";
}

#fileTree .tree-cell:selected {
    -fx-background-color: -blue-light;
    -fx-border-color: -blue-dark;
    -fx-text-fill: #000000;
}

#fileTree .tree-cell:selected .label {
    -fx-text-fill: #000000;
}

/* Code area */

#codeArea {
    -fx-font-family: 'Fira Code';
    -fx-highlight-fill: #b3d8fd;
}

.lineno {
    -fx-font-family: 'Fira Code';
    -fx-font-size: /* 10px */ 75%;
    -fx-text-alignment: right;
    -fx-background-color: -background;
}

.context-menu {
    -fx-font-size: /* 8pt */ 67%;
    -fx-background-color: #f0f0f0f0;
}

.menu-item .label {
    -fx-text-fill: #181818;
}

.menu-item:focused {
    -fx-background-color: -blue-light;
}

/* Console text area */

#consoleTextArea {
    -fx-font-family: 'Fira Code';
    -fx-wrap-text: false;

    -fx-text-fill: -console-text;
    -fx-highlight-fill: #214283;
    -fx-highlight-text-fill: -console-text;

    -fx-background-color: -console;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-border-radius: 2px;
}

#consoleTextArea .content {
    -fx-background-color: -console;
    -fx-text-alignment: left;
    -fx-background-radius: inherit;
}

#consoleTextArea .scroll-bar {
    -fx-background-color: -console;
}

#consoleTextArea .corner {
    -fx-background-color: -console;
    -fx-padding: 0;
}
