.keyword {
    /*-fx-fill: purple;*/
    -fx-fill: indigo;
    -fx-font-weight: bold;
}

.semicolon {
    -fx-font-weight: bold;
}

.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}

.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}

.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}

.string {
    -fx-fill: forestgreen;
}

.comment {
    /*-fx-fill: cadetblue;*/
    -fx-fill: gray;
}

.integer {
    -fx-fill: cornflowerblue;
}

.operator {
    -fx-fill: indianred;
}

.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}
