#iconLabel {
    -fx-font-family: 'FontAwesome';
    -fx-font-size: 58;
}

#cancelButton,
#sharingButton,
#socketsButton {
    -fx-border-color: -blue-dark;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
}

#cancelButton:focused,
#sharingButton:focused,
#socketsButton:focused {
    -fx-background-color: -blue-light;
}
