#statusLabel {
    -fx-font-family: 'FontAwesome';
    -fx-text-fill: -green-dark;
}

#lineLabel {
    -fx-font-family: 'Fira Code', monospace;
    -fx-font-size: 80%;
    -fx-text-fill: gray;
}

#stepButton:hover, #runButton:hover {
    -fx-background-color: -green-light;
    -fx-border-color: -green-dark;
}

#stepButton:pressed, #runButton:pressed {
    -fx-background-color: -green-dark;
}

#suspendButton:hover {
    -fx-background-color: -orange-light;
    -fx-border-color: -orange-dark;
}

#suspendButton:pressed {
    -fx-background-color: -orange-dark;
}

#terminateButton:hover {
    -fx-background-color: -red-light;
    -fx-border-color: -red-dark;
}

#terminateButton:pressed {
    -fx-background-color: -red-dark;
}
