.column-header {
    -fx-background-color: -background;
    -fx-border-color: -separator;
    -fx-border-width: 0 1 0 0;
}

.table-row-cell {
    -fx-font-family: 'Fira Code', monospace;
    -fx-table-cell-border-color: -separator;
}
