@font-face {
    font-family: 'FiraGO';
    src: url("/webfonts/FiraGO-Regular.woff");
    font-weight: normal;
}

/*
.navbar {
    max-height: 50px
}

/*
.navbar-brand {
    padding: 8px 12px;
}
*/

body {
    padding-top: 70px;
    font-family: 'FiraGO', sans-serif;
}

div.container {
    /*padding-top: 20px;*/
}
